<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.module.view">

    <application>

        <activity android:name=".ui.ViewPage2" />

        <activity android:name=".ui.TabPage2Activity" />

        <activity android:name=".ui.AnimatedTextViewActivity" />

        <activity android:name=".ui.TriangleViewActivity" />

        <activity android:name=".ui.MotionLayoutActivity" />

    </application>

</manifest>