<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.module.view">

    <application>

        <activity
            android:name=".ui.ViewPage2"
            android:exported="false" />

        <activity
            android:name=".ui.TabPage2Activity"
            android:exported="false" />

        <activity
            android:name=".ui.AnimatedTextViewActivity"
            android:exported="false" />

        <activity
            android:name=".ui.TriangleViewActivity"
            android:exported="false" />

        <activity
            android:name=".ui.MotionLayoutActivity"
            android:exported="false" />

    </application>

</manifest>