<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.base.module.view">

    <application
        android:name=".ViewsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_view"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModuleView"
        tools:replace="android:label">
        <activity android:name=".ViewMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.ViewPage2" />

        <activity android:name=".ui.TabPage2Activity" />

        <activity android:name=".ui.AnimatedTextViewActivity" />

        <activity android:name=".ui.TriangleViewActivity" />

    </application>

</manifest>