<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.base.app">

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".sample.DemosActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sample.mvp.activity.Demo1Activity"
            android:exported="false" />

        <activity
            android:name=".sample.views.activity.AnimatedTextViewActivity"
            android:exported="false" />

        <activity
            android:name=".sample.views.activity.MotionLayoutActivity"
            android:exported="false" />

        <activity
            android:name=".sample.views.activity.TriangleViewActivity"
            android:exported="false" />

        <activity
            android:name=".sample.views.activity.ViewPage2Activity"
            android:exported="false" />

        <activity
            android:name=".sample.views.activity.ViewPage2TabActivity"
            android:exported="false" />

        <activity
            android:name=".sample.mvi.activity.Demo5Activity"
            android:exported="false" />

    </application>

</manifest>